{% extends "squelette.html" %}
{% block fileUrl %}
{{ fileUrl }}
{% endblock %}
{% block name %}
{{ name }}
{% endblock %}

{% block imports %}
<script type="text/javascript" src="..\static\bootstrap\dist\js\bootstrap.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% endblock %}

{% block body %}
{{ super() }}
<fieldset>
    <legend>
        Notification
    </legend>

    <div class="row">
        <div class="col-12">
                <table class="table table-striped">
                    <tr>
                        <td>
                             <u>Contenue</u>:
                        </td>
                        <td>
                            <div>
                                 {{ event[2] }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <u>Etat</u> :
                        </td>
                        <td>
                            <div>
                                 {{ event[4] }}
                            </div>
                        </td>
                    </tr>
                    {% if event[4] == "en attente de réponse" %}
                    <tr>
                        <td>
                            <div class="col-6">
                                <button type="button" onclick="manageNotifResponse()" class="btn btn-primary">Accepter</button>
                            </div>
                            <div class="col-6">
                                <button type="button" onclick="manageNotifResponse()" class="btn btn-danger">Refuser</button>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
</fieldset>
{% endblock %}

{% block script %}
window.onload = function() {
arrayElementStart = document.getElementsByClassName("dateToParse");
Array.prototype.forEach.call(arrayElementStart, function(el) {
    console.log(el.innerHTML);
    var array = el.innerHTML.split("'");
    var date = array[3];
    parsedString = date.substring(0, 10);
    parsedStringH = date.substring(11, 16);
    el.innerHTML = parsedString+" (y-m-d) "+parsedStringH+" (h:m)";
    });
};
{% endblock %}

