{% extends "squelette.html" %}
{% block name %}
{{ name }}
{% endblock %}
{% block script %}
{{ super() }}
$(function () {
    $('btnDownload').on('click', function () {
        $.ajax({
            url: 'downloadFile',
            data: {
            },
            dataType : 'json'
        });
    });
});

function showInfosRGPD(){
    window.modal = document.getElementById("infosRGPD");
    modal.style.display = "block";
}
window.onclick = function(event) {
  if (event.target == window.modal) {
    window.modal.style.display = "none";
  }
}
{% endblock %}
{% block style %}
{{ super() }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% endblock %}
{% block body %}
{{ super() }}
<div class="row">
    <div class="col-6">
        <img style="width : auto; height : 300px; border-radius: 25px;box-shadow: 5px 5px 5px black;" class="centered" src="{{ profilPic }}" alt="Google profile pic">
    </div>
    <div class="col-6">
        <table class="w3-table-all" style = "float-left; margin : auto;">
                <tr>
                    <td>{{ userName }}</td>
                </tr>
                <tr>
                    <td>{{ fName|upper }}</td>
                </tr>
                <tr>
                    <td>{{ email }}</td>
                </tr>
                <tr>
                    <td>Nationalité : {{ locale }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="/download" class="btn btn-secondary">
                        <span class="glyphicon glyphicon-download"></span> Telecharger données personnelles
                        </a>
                    </td>
                </tr>
                 <tr>
                    <td>
                        <a href="/deleteDatas" class="btn btn-danger">
                        <span class="glyphicon glyphicon-eye-close"></span> Supprimer données personnelles
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/logout" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="validate" class="btn btn-primary" onclick="showInfosRGPD()" style="width:auto;"> <span class="glyphicon glyphicon-exclamation-sign"></span>  </button>

                    </td>
                </tr>
            </table>
    </div>
</div>
<!-- The Modal -->
<div id="infosRGPD" style="position:fixed;bottom: 0;" class="modal">
  <!-- Modal content -->
    <div class="modal-content">
        <p>Merci d'utiliser Social Planning</p>

        <p>Cette application utilise les informations fournies par
        Google Calendar API</p>

        <p>Les autres utilisateurs n'ont accès qu'aux heures auxquels vous avez
        des rendez-vous. Vous pouvez à tout moment supprimer votre compte
        ainsi que les informations qui y sont liées</p>

        <p>Ces données seront conservées jusqu'à la suppresion de votre compte</p>
    </div>
</div>

{% endblock %}
